<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Hmm.  It looks like there's nothing at this location.</p>
            </LayoutView>
        </NotFound>
        <Navigating>
            <LoadingSignal />
        </Navigating>
    </Router>
</CascadingAuthenticationState>
