@page "/about"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer Localizer
<h3>@Localizer["About"] Remotely</h3>

<p>
    @Localizer["Website"]: <a href="https://remotely.one">https://remotely.one</a>
</p>
<p>
    @Localizer["Contact"]:  <a href="https://remotely.one/Contact">https://remotely.one/Contact</a>
</p>
<p>
    @Localizer["Open-Source Licenses"]: <a href="/credits">Credits</a>
</p>
<p>
    @Localizer["Version"]: @if (System.IO.File.Exists("Remotely_Server.dll"))
    {
        <span>@System.Diagnostics.FileVersionInfo.GetVersionInfo("Remotely_Server.dll").FileVersion.ToString()</span>
    }
    else
    {
        <span>1.0.0.0</span>
    }

</p>
