@page
@model Remotely.Server.Pages.ErrorModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer Localizer
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <h1 class="text-danger">@Localizer["Error"]</h1>
            <h2 class="text-danger">@Localizer["An error occurred while processing your request."]</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>@Localizer["Request ID"]:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <h3>@Localizer["Development Mode"]</h3>
            @Html.Raw(@Localizer["DevelopmentDesc"])
        </div>
    </div>
</body>

</html>
