@page
@model Remotely.Server.Pages.InviteModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer Localizer
@{
    ViewData["Title"] =Localizer["Invite"];
}
<h3>@Localizer["Organization Invite"]</h3>
<hr />
<div class="row">
    <div class="col-sm-12">
        @if (Model.Success)
        {
            <h5>Congratulations!</h5>
            <p class="text-info">
                @Localizer["You've successfully joined the organization!"]
            </p>
        }

        else
        {
            <form method="post">
                <div>
                    <strong class="text-danger">@Localizer["WARNING"]: </strong>
                    <p class="text-danger">@Localizer["You will leave your current organization and lose access to its agents unless someone is able to invite you back in."]</p>
                    <p>@Localizer["Are you sure you want to leave your current organization and join this one?"]</p>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Input.InviteID" hidden />
                <div class="form-group">
                    <button type="button" class="btn btn-secondary mr-3" onclick="location.assign(location.origin)">@Localizer["Cancel"]</button>
                    <button type="submit" class="btn btn-danger">@Localizer["Confirm"]</button>
                </div>
            </form>
        }

    </div>
</div>
